.badges {
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  display: flex;
}
.badge {
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  color: #fff;
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  justify-content: center;
}
